/proposal/proposal.aux
/proposal/proposal.log
/proposal/proposal.pdf
/proposal/proposal.bbl
/proposal/proposal.blg
/proposal/proposal.dvi
/proposal/presentation.aux
/proposal/presentation.bbl
/proposal/presentation.blg
/proposal/presentation.dvi
/proposal/presentation.log
/proposal/presentation.nav
/proposal/presentation.out
/proposal/presentation.pdf
/proposal/presentation.snm
/proposal/presentation.toc
/proposal/presentation.vrb
